{% extends 'stock_order/base.html' %}

{% block body%}

<!-- TODO input verification.  i.e. select an item and add volume -->
	<br>
	<h2 class="text-light text-center ">RTC Unit - Stock Ordering </h2>
	<br>


	<div class="container-fluid">

		<div class="row no-gutters">
		{% for washers in all_washers %}
			<div class="col-sm" style="margin-bottom:40px">
				 <ul class="listgroup">
					 <li class="list-group-item disabled list-group-item-primary border-bottom border-secondary">{{ washers }}

						 <div class="text-right"><button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#myModal{{washers}}">
							 <span class="glyphicon glyphicon-plus"></span>
						</button>
						 </div>
					 </li>
					 {% for queue in all_queues %}
					 {% if queue.washer|stringformat:"s" == washers|stringformat:"s" %}

                    <div class="panel panel-default bg-light border-top border-right border-left border-secondary">
                        <div class="panel-header text-center"><h2>{{ queue.product }}</h2></div>
                        <div class="panel-content text-center"><h3>{{queue.volume}} kg</h3></div><br>
                     <div class="panel-footer text-center">
                            <div class="btn-group">
                        <form action = "{% url 'moveQueueItemUp' %}" method="POST">&nbsp
					 {% csrf_token %}
					<button class="btn btn-info" name="moveUp" value="{{queue.pk}}"><span class="glyphicon glyphicon-arrow-up"></span></button>
					</form>
					<form action = "{% url 'deleteQueueItem' %}" method="POST">&nbsp
					 {% csrf_token %}
					<button class="btn btn-success" name="itemForDeletePK" value="{{queue.pk}}"><span class="glyphicon glyphicon-ok"></span></button>
					</form>
                        <form action = "{% url 'moveQueueItemDown' %}" method="POST">&nbsp
					 {% csrf_token %}
					<button class="btn btn-info" name="moveDown" value="{{queue.pk}}"><span class="glyphicon glyphicon-arrow-down"></span></button>
					</form>

					</div>
                         <br><br>
                        </div>
                    </div>



					 {% endif %}

					 {% endfor %}

				</ul>
            </div>



			<!-- Modal -->
<div id="myModal{{washers}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<!-- Modal content-->
	<div class="modal-content">
	  <div class="modal-header">
		  <h3 class="modal-title">Add item to {{washers}}</h3>
	  </div>
	  <div class="modal-body">

		  <div class="btn-group-vertical col-md-12">
              {% for unique in unique_products %}
              <a class="btn btn-success btn-lg" data-toggle="collapse" href ="#collapse_{{unique}}" role="button" aria-expanded="false" aria-controls="collapse_{{unique}}">{{unique}}</a>
			      <div class="collapse" style="width: 100%;" id ="collapse_{{unique}}">
              {% for product in all_products %}

              {% if product.product|stringformat:"s" == unique|stringformat:"s" %}

                 <button type="button" class="btn btn-lg btn-outline-success col-12" onclick="getText(this.value, '{{washers}}')" value="{{product}}">{{product}}</button>

                {% endif %}
              {% endfor %}
                       </div>
              {% endfor %}
		</div>

		  <div class="modal-body">
			  <form action = "/stock_order/rtc_unit/" method="POST">
				  {% csrf_token %}
				  <label for="label{{washers}}">Selected: </label>
				  <label id="label{{washers}}">None</label>
				  <input type="hidden" id="label2{{washers}}" name ="product", value="">
				  <input type="hidden" name="washer" value = "{{washers}}">
				  <div class="form-group modal-body">
				  <label for="volume">Volume (kg):</label>
					  <input name = "volume" type="integer" class="form-control" id="volume">
				  </div>
		  </div>
		  <input type="submit" class="btn btn-success btn-lg" value="Add" />
	  </div>
		</form>
	</div>






  </div>
</div>
{% endfor %}
		</div>
	</div>

<script>
function getText(obj, washer){

		let lbl = document.getElementById("label"+washer);
		let setText = obj;

		let lbl2 = document.getElementById("label2"+washer);


		lbl.innerHTML = obj;
		lbl2.value = obj;
	}
</script>

{% endblock %}
